<!DOCTYPE html>
<html>
<head>
    <title>ToDoList</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body class="container">

    <h1 class="text-center">ToDoList</h1>

    {{if .error}}
    <p class="alert alert-warning" role="alert">{{.error}}</p>
    {{end}}

    {{range $message := .title}}
    <ul class="list-unstyled">
        <li>
            <a href="delete/{{$message.Id}}"><i class="glyphicon glyphicon-remove"></i></a>
            {{$message.Title}}
        </li>
    </ul>
    {{end}}

    <form action="submit" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Enter a title" />
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>

</body>
</html>